{% extends 'main.html' %}
{% block title %}<title>Password recovery</title>{% endblock %}
{% block description %}<meta name="description" content="Password recovery." />{% endblock %}
{% block keywords %}
<meta name="keywords" content="password recovery" />
{% endblock %}
{% block content %}
    <div id="article">
        <h2>Password recovery</h2>
        <p>
            ЕIf you have entered a valid e-mail, then instructions for changing your password have been sent to you.
            If you don't receive an email, please check your Spam folder..
        </p>
    </div>
{% endblock %}