{% extends 'main.html' %}
{% block title %}<title>Your order is accepted</title>{% endblock %}
{% block description %}<meta name="description" content="Your order has been accepted." />{% endblock %}
{% block keywords %}
<meta name="keywords" content="order accepted, order accepted pay, order accepted call" />
{% endblock %}
{% block content %}
    <div id="message">
        <h2>Your order is accepted !</h2>
        <p>Wait for the manager's call to confirm the order .</p>
    </div>
{% endblock %}