{% extends 'main.html' %}
{% block title %}<title>Оплата и доставка</title>{% endblock %}
{% block description %}<meta name="description" content="Payment and delivery in the online store." />{% endblock %}
{% block keywords %}
    <meta name="keywords" content="payment, shipping, payment shipping store" />
{% endblock %}
{% block content %}
<div id="article">
    <h2>Payment and delivery</h2>
    <p>We have 2 delivery options: postage cash on delivery and pickup.</p>
    <p>Other payment and delivery options are also possible, which can be agreed by phone with the manager after placing the order.</p>
    <p>In general, this is a test site that was created in the training course by badr alotaibi<br /><a href="https://srs.myrusakov.ru/im">Creating an online store in PHP and MySQL</a></p>
    <p>In this regard, this site does not actually sell anything. Therefore, having ordered a film, you should not wait for it to come to you. .</p>
</div>
{% endblock %}