<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% block title %}<title>Online store</title>{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block description %}<meta name="description" content="Online store selling DVDs." />{% endblock %}
	{% block keywords %}
		<meta name="keywords" content="online store, online store dvd, online store dvd discs" />
	{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" />
	<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	<link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div id="container">
		<div id="header">
			<img src="{% static 'images/header.png' %}" alt="A cap" />
			<div>
				<p class="red">8-800-123-45-67</p>
				<p class="blue">Working hours from 09:00 before 21:00<br />without breaks and days off</p>
			</div>
			<div class="cart">
				<p class="cart_title">Basket</p>
				<p class="blue">Current order</p>
				{% load my_filters %}
				<p>В корзине <span>{{ count_in_cart }}</span> {{ count_in_cart|declension_of_products }}<br />for the amount<span>{{ sum_in_cart }}</span> $.</p>
				<a href="{% url 'cart' %}">Go to cart</a>
			</div>
		</div>
		<div id="topmenu">
			<ul>
				<li>
					<a href="{% url 'index' %}">HOME</a>
				</li>
				<li>
					<img src="{% static 'images/topmenu_border.png' %}" alt="" />
				</li>
				<li>
					<a href="{% url 'delivery' %}">PAYMENT AND DELIVERY</a>
				</li>
				<li>
					<img src="{% static 'images/topmenu_border.png' %}" alt="" />
				</li>
				<li>
					<a href="{% url 'contacts' %}">CONTACTS</a>
				</li>
			</ul>
			<div id="search">
				<form name="search" action="{% url 'search' %}" method="get">
					<table>
						<tr>
							<td class="input_left"></td>
							<td>
								{{ search_form.q }}
							</td>
							<td class="input_right"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div id="content">
			<div id="left">
				<div class="menu">
					<div class="header">
						<h3>Sections</h3>
					</div>
					<div class="items">
						{% for section in sections %}
							<p>
								<a href="{{ section.get_absolute_url }}">{{ section.title }}</a>
							</p>
						{% endfor %}
					</div>
					<div class="bottom"></div>
				</div>
				<div class="menu">
					<div class="header">
						<h3>Пользователь</h3>
					</div>
					<div class="items">
						{% if user.is_authenticated %}
							<p>
								<a href="{% url 'orders' %}">Orders</a>
							</p>
							<p>
								<a href="{% url 'logout' %}?next={{ request.path }}">Exit</a>
							</p>
						{% else %}
							<p>
								<a href="{% url 'login' %}?next={{ request.path }}">Entrance</a>
							</p>
						{% endif %}
					</div>
					<div class="bottom"></div>
				</div>
			</div>
			<div id="right">
				{% block before_content %}{% endblock %}
				{% block content %}{% endblock %}
				{% block pagination %}{% endblock %}
			</div>
			<div class="clear"></div>
			<div id="footer">
				<div id="pm">
					<table>
						<tr>
							<td>Payment Methods :</td>
							<td>
								<img src="{% static 'images/pm.png' %}" alt="Payment Methods" />
							</td>
						</tr>
					</table>
				</div>
				<div id="copy">
					<p>Copyright &copy; Site.sa. All rights reserved .</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>