{% extends 'main.html' %}
{% block title %}<title>Заказы</title>{% endblock %}
{% block description %}<meta name="description" content="Orders." />{% endblock %}
{% block keywords %}
<meta name="keywords" content="orders, user orders" />
{% endblock %}
{% block content %}
    <div id="article">
        <h2>Your orders</h2>
        <table border="1" id="orders">
            <tr>
                <td>Order ID</td>
                <td>order date</td>
                <td>Order list</td>
                <td>Sum</td>
                <td>Status</td>
                <td>Functions</td>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.date_order }}</td>
                    <td>{{ order.display_products }}</td>
                    <td>{{ order.display_amount }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>
                        {% if perms.shop.can_set_status and order.status == 'NEW' %}
                            <a href="{% url 'cancelorder' order.id %}">Cancel</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}